<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yumu.appinfo">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/FullTheme"
        tools:replace="android:icon">

        <activity
            android:name="com.yumu.appinfo.activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


<!--        <activity android:name="com.yumu.appinfo.activity.MainActivity"/>-->

        <activity android:name=".activity.PopViewAnimActivity" />
        <activity android:name=".activity.GetAppInfoActivity" />
        <activity android:name=".activity.TestBehaviorActivity" />
        <activity android:name=".activity.LocationTaskActivity" />
        <activity android:name=".activity.MyAlbumActivity" />
        <activity android:name=".activity.CameraKitActivity" />
        <activity android:name=".activity.GalleryActivity" />
        <activity android:name=".card_tantan.CardActivity" />
        <activity android:name=".card_tantan.TanTanAvatarActivity" />
        <activity android:name=".card_tantan.TanTanCardActivity" />
        <activity android:name=".card_tantan.GalleryActivity" />
        <activity android:name=".card_tantan.SwipeCardActivity" />
        <activity android:name=".card_tantan.ZuiMeiCardActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>